.row .col.in7 {
  width: 14.2%;
  padding: 0 .1rem;
  margin-left: auto;
  left: auto;
  right: auto;
}


.row {
  margin-bottom: 2px;
}

.in7 .card {
  margin: .05rem 0 .05rem 0;
  height: 154px;
}

@media (max-width: 1300px) {
  .card .card-title {
    font-size: 20px;
  }
  .card .card-content {
    padding: 20px;
  }
  i.medium {
    font-size: 3rem;
  }
  .in7 .card {
    height: 124px;
  }
}


@media (max-width: 1100px) {
  .card .card-title {
    font-size: 16px;
  }
  .card .card-content {
    padding: 10px;
  }
  i.medium {
    font-size: 3rem;
  }
  .in7 .card {
    height: 124px;
  }
}

@media (max-width: 820px) {
  .card .card-title {
    font-size: 12px;
  }
  .card .card-content {
    padding: 5px;
  }
  i.medium {
    font-size: 2rem;
  }
  .in7 .card {
    height: 80px;
  }
}

.section {
  padding: 0;
}

.material-icons.star:hover {
  color: yellow;
  cursor: pointer;
}

.material-icons.sad:hover {
  color: red;
  cursor: pointer;
}

.card-wrapper.flip {
  cursor: pointer;
}

.pulsate-left {
  -webkit-animation: pulsate-left 1s forwards;
}

.pulsate-right {
  -webkit-animation: pulsate-right 1s forwards;
}

.fade {
  -webkit-animation: fade 1s forwards;
}

.result {
  position: absolute;
  color: white;
  width: 0;
  right:0;
  top:0;
  z-index: -2;
  transform: rotateY(180deg);
}

.flip {
  transition: 0.6s;
	transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.flip .result {
  color: black;
  width:100%;
}

@-webkit-keyframes pulsate-left {
  0% {
    -webkit-transform: scale(1, 1); 
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(2, 2) translate(-0.98rem);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1) translate(-1.96rem);
    opacity: 0.8;
  }
}
@-webkit-keyframes pulsate-right {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(2, 2) translate(0.98rem);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1) translate(1.96rem);
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: scale(1, 1); 
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(0, 0); 
    opacity: 0.1;
  }
}